@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #FFFFFF;
}

@layer utilities {
    .impact {
        font-family: 'Cascadia Mono SemiBold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .itemShadow {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
}
